#body {
    direction: ltr;
}

.graph {
    display: flex;
    align-items: flex-end;
    gap: 10px; /* Space between bars */
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.bar {
    width: 40px; /* Width of each bar */
    background-color: #4CAF50; /* Color of the bars */
    text-align: center;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.hour {
    margin-top: -9px;
    width: 10%;
}

.quantity {
    margin-top: -10px;
    width: 50%;
}

.options {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 100px;
    margin-top: 20px;
}

label {
    display: block;
}

.date {
    margin-left: 5px;
}

.graph-container {
    display: flex;
}