#main {
    direction: ltr;
}

.graph {
    display: flex;
    align-items: flex-end;
    gap: 10px; /* Space between bars */
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.bar {
    width: 40px; /* Width of each bar */
    background-color: #758694; /* Color of the bars */
    text-align: center;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.hour {
    margin-top: -9px;
    width: 10%;
}

.quantity {
    width: 40%;
}

.options {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    direction: rtl;
}

label {
    display: block;
}

.date {
    margin-left: 3rem;
    height: 25px;
    padding: 5px;
    border-radius: 5%;
}

.graph-container {
    display: flex;
}

.back-button {
    margin: 3rem;
    height: 5rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border-radius: 50%;
    cursor: pointer;
}

.back-button:hover {
    background-color: #758694;
    color: white;
}

.back-button:active {
    background-color: white;
}

select {
    width: 60%;
    font-size: 1.15rem;
    padding: 0.3rem;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

label {
    direction: rtl;
    min-width: 350px;
}

option:hover {
background-color: red;
}

a {
    text-decoration: none;
    color: black;
}

.a:hover {
    background-color: #758694;
    color: white;
}

.a:active {
    background-color: white;
}