body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.login-container {
    border: 1px solid black;
    width: 350px;
    height: 200px;
}

.field {
    margin: 10px;
    display: flex;
}

label {
    width: 120px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.identifier {
    margin-left: 5px;
}